<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>[@title]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="[@templatedir]/style.css" type="text/css" media="screen" />
    [@c:plugin_header]
</head>
<body>
   <div id="centered-content">
       <!-- Header -->
       <div id="header">
           <a href="[@hostname]">
               [@title]
           </a>
       </div>
       <!-- Content -->
       <div id="content">
           [@content]
       </div>
       <div id="footer-folded">
           <div id="menu-content">
               [@menu]
           </div>
       </div>
   </div>
</body>
</html>
