<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>[@title]</title>
    <meta name="author" content="[@author]">
    <meta name="description" content="[@description]">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="[@hostname]/[@templatedir]/style.css" type="text/css" rel="stylesheet" />
    [@google_analytics]
</head>
<body>
    <!-- MenuBar & Header -->
    <div id="menu">
        <a href="[@hostname]">[@title]</a>
        <div id="menu-content">[@menu]</div>
    </div>
    <!-- Content -->
    <div id="content" class="expanded">
        [@content]
    </div>
</body>
</html>
